@import "./animations.css" screen;
@import "./reset.css" screen;

@font-face {
	font-family: 'Golos';
	src: url('../static/_fonts/Golos%20Text_Regular.eot');
	src:
	     url('../static/_fonts/Golos%20Text_Regular.eot?#iefix') format('embedded-opentype'),
	     url('../static/_fonts/Golos%20Text_Regular.woff2') format('woff2'),
	     url('../static/_fonts/Golos%20Text_Regular.woff') format('woff'),
	     url('../static/_fonts/Golos%20Text_Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Golos';
	src: url('../static/_fonts/Golos%20Text_DemiBold.eot');
	src:
	     url('../static/_fonts/Golos%20Text_DemiBold.eot?#iefix') format('embedded-opentype'),
	     url('../static/_fonts/Golos%20Text_DemiBold.woff2') format('woff2'),
	     url('../static/_fonts/Golos%20Text_DemiBold.woff') format('woff'),
	     url('../static/_fonts/Golos%20Text_DemiBold.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Wremena';
	src: url('../static/_fonts/wremena_regular-webfont.eot');
	src: url('../static/_fonts/wremena_regular-webfont.eot#iefix') format('embedded-opentype'),
		url('../static/_fonts/wremena_regular-webfont.woff2') format('woff2'),
		url('../static/_fonts/wremena_regular-webfont.woff') format('woff'),
		url('../static/_fonts/wremena_regular-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

:root {
    --Black100: rgba(37, 37, 37, 1);
    --Black84: rgba(37, 37, 37, .84);
    --Black72: rgba(37, 37, 37, .72);
    --Black64: rgba(37, 37, 37, .64);
    --Black48: rgba(37, 37, 37, .48);
    --Black32: rgba(37, 37, 37, .32);
    --Black20: rgba(37, 37, 37, .2);
    --Black16: rgba(37, 37, 37, .16);
    --Black3: rgba(37, 37, 37, .03);
    --Black0: rgba(37, 37, 37, 0);
	--Black92: rgba(37,37,37, .92);

    --White100: rgba(255, 255, 255, 1);
    --White84: rgba(255, 255, 255, .84);
    --White72: rgba(255, 255, 255, .72);
    --White56: rgba(255, 255, 255, .56);
    --White48: rgba(255, 255, 255, .48);
    --White36: rgba(255, 255, 255, .36);
    --White24: rgba(255, 255, 255, .24);
    --White16: rgba(255, 255, 255, .16);
    --White0: rgba(255, 255, 255, 0);

    --GraySuperLight100: rgba(250, 250, 250, 1);
    --GrayLight100: rgba(218, 218, 218, 1);

    --Red100: rgba(255, 0, 0, 1);

    --Azure100: rgba(44, 179, 255, 1);
    --Azure84: rgba(44, 179, 255, .84);
    --Azure32: rgba(44, 179, 255, .32);
	--Azure16: rgba(44, 179, 255, .16);
	--Azure12: rgba(44, 179, 255, .12);
    --Azure6: rgba(44, 179, 255, .06);

    --font-default: 'Golos', 'Helvetica', 'Arial', sans-serif;
    --font-serif: 'Wremena', 'Times', 'Times New Roman', serif;
}



/* Document Setup */

html {
	font-size: 62.5% !important;	/* 1rem = 10px */
}

html,
body {
	background-color: transparent;
	font-family: var(--font-default);
	font-style: normal;
	font-weight: 400;
	margin: 0;
	padding: 0;
	transition: background-color 0.25s linear;
}

body {
    color: var(--Black100);
    font-size: 2rem;
	-webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-default);
	font-weight: 500;
	letter-spacing: -.01em;
}

h1 {
	font-size: 5.2rem;
	line-height: 4.8rem;
	margin: 2rem 0 0;
}

h1+.subtitle {
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 140%;
}

h2 {
	font-size: 4.4rem;
	line-height: 4.4rem;
	margin-bottom: 1.9rem;
}

h3 {
	font-size: 3.6rem;
	line-height: 3.6rem;
	margin: 2rem 0 1.2rem;
}
h3 .link-underline-solid {
    border-bottom-width: .4rem;
}

h4 {
	font-size: 3.2rem;
    line-height: 3.6rem;
    margin-bottom: 1rem;
}

h5 {
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin-bottom: 1.3rem;
}

h6 {
    font-size: 2rem;
	line-height: 2.4rem;
	margin-bottom: 1.2rem;
}

.text-small,
sup {
    font-size: 1.2rem;
}

sup {
    line-height: 1.2rem;
}

i {
	font-family: var(--font-serif);
	font-style: italic;
}

p {
	margin-top: 2rem;
	max-width: 72rem;
}

.article-paragraphs p {
	font-family: var(--font-serif);
	font-size: 2.4rem;
	line-height: 3.2rem;
	margin-top: 3.2rem;
}
.article-paragraphs p:first-child {
	margin-top: 0;
}


a {
	color: var(--Black100);
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	transition: all .175s ease-in-out;
}
a:hover {
	color: var(--Black64);
}

.article-paragraphs a {
	border-bottom: .5px solid var(--Black32);
}
.article-paragraphs a:hover {
	border-bottom-color: var(--Black64);
}

/* a * {
    transition: all .175s ease-in-out;
}*/

.link-underline-solid {
	border-bottom: .5px solid;
}
.link-underline-dashed {
	border-bottom: 1px dashed;
}
.link-underline-dotted {
	border-bottom: 1px dotted;
}

.input-wrapper {
	margin-top: 4.4rem;
	position: relative;
}

input[type=text],
input[type=datetime],
input[type=tel],
input[type=search],
textarea {
    background: var(--Azure12);
    backdrop-filter: blur(32px);
	box-sizing: border-box;
	border: none;
	border-radius: 300px;
	color: var(--Black100);
	font-size: 2rem;
	line-height: 2.4rem;
	margin: 0;
	outline: none;
	padding: 2rem 1.6rem;
	transition: all 0.35s ease-in-out;
	-webkit-appearance: none;
}
input[type=text]::placeholder,
input[type=datetime]::placeholder,
input[type=tel]::placeholder,
input[type=search]::placeholder,
textarea::placeholder {
    color: var(--Black32);
}

.errors {
	color: var(--White100);
	font-weight: 500;
	letter-spacing: .08em;
	position: absolute;
	right: 0;
	top: 2.5rem;
	text-transform: uppercase;
}
.errors span {
	background: var(--Red100);
	border-radius: 100px;
	display: block;
	padding: .4rem .6rem;
}

.button,
button,
input[type=button],
input[type=submit] {
	background: var(--Azure100);
	border: none;
	border-radius: 300px;
	color: var(--White100);
	cursor: pointer;
	display: inline-block;
	font-size: 2rem;
	font-weight: 400;
	line-height: 2.4rem;
	padding: 2rem 2.4rem;
	transition: background-color .125s ease-in-out,
				box-shadow .125s ease-in-out,
				color .125s ease-in-out,
				text-shadow .125s ease-in-out,
				transform .125s ease-in-out;
}
.button:hover,
button:hover,
input[type=button]:hover,
input[type=submit]:hover {
	background: var(--Azure84);
	color: var(--White100);
	transform: translateY(-.8rem);
}
.button:disabled,
button:disabled,
input[type=button]:disabled,
input[type=submit]:disabled {
	border-color: var(--White16);
	color: var(--Black16) !important;
	cursor: default;
	transform: none !important;
	-webkit-backdrop-filter: blur(8px);
			backdrop-filter: blur(8px);
}

.button-blur {
    background: var(--Azure12);
    backdrop-filter: blur(32px);
    color: var(--Black100);
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.subtitle {
	font-size: .9rem;
	font-weight: 500;
	letter-spacing: .04em;
	line-height: 1.6rem;
	text-transform: uppercase;
}

.text-outlined {
	letter-spacing: 0;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--Black);
}

.icon-svg {
	display: block;
	height: 100%;
	max-height: 5.7rem;
	max-width: 5.7rem;
	width: 100%;
}

.star-plus-svg,
.star-x-svg {
	display: inline-block;
	width: 100%;
	height: 100%;
}

::selection {
	background-color: var(--Red100);
	color: var(--White100);
}

.fixed {
  position: fixed;
}


.grid-main {
    display: grid;
    grid-template-columns: repeat(32, calc((100vw - 49.6rem - 1.6rem) / 32));
    grid-column-gap: 1.6rem;
}

main {
    grid-column: 1/33;
    margin-top: 12rem;
}


.loading-spiral {
	border-color: var(--Azure12) !important;
	border-right-color: transparent !important;
}


/*   P A G E S   */

.page-content-superwrapper {
    grid-column: 1/33;
    margin-top: 5.2rem;
}

.page-aside-wrapper {
grid-column: 2/9;
}

.page-wrapper {
grid-column: 9/28;
}

.page-header {
    margin-bottom: 4rem;
}

.page-bottom-wrapper {
    margin-top: 12rem;
}


.cont-wrapper {
    display: grid;
    margin-bottom: 4rem;
}

.cont-header-wrapper {
    grid-column: 1/2;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
}

.cont-header {
    display: inline-flex;
    margin: 0 -2.4rem 9.2rem 0;
    position: sticky;
    position: -webkit-sticky;
    top: 3.2rem;
    transform: rotate(180deg);
    width: 100%;
}

.cont-header>.link-underline-solid {
    border-bottom-width: 0;
    border-left: 4px solid;
    margin-left: -4px;
    margin-top: 1.2rem;
}

.cont-wrapper-left {
    grid-column: 2/17;
    grid-template-columns: repeat(15, calc((100vw - 49.6rem - 1.6rem) / 32));
    grid-column-gap: 1.6rem;
    grid-row: span 3;
}
.page-bottom-wrapper .cont-wrapper-left {
    grid-row: span 2;
}

.cont-wrapper-left .block-cards-wrapper {
    grid-column: 2/16;
    display: grid;
    grid-template-columns: repeat(14, calc((100vw - 49.6rem - 1.6rem) / 32));
    grid-column-gap: 1.6rem;
}

.cont-wrapper-right {
    grid-column: 19/32;
    grid-template-columns: repeat(13, calc((100vw - 49.6rem - 1.6rem) / 32));
    grid-column-gap: 1.6rem;
    grid-row: span 1;
}

.cont-wrapper-right .block-cards-wrapper {
    grid-column: 2/14;
    display: grid;
    grid-template-columns: repeat(12, calc((100vw - 49.6rem - 1.6rem) / 32));
    grid-column-gap: 1.6rem;
}

.showmore-btn-wrapper {
    display: flex;
    grid-column: 1 / -1;
    justify-content: center;
    margin-left: -4rem;
    margin-top: 3.2rem;
    position: relative;
    width: calc(100% + 8rem);
    z-index: 2;
}

.card-cont {
    background: var(--Azure12);
    backdrop-filter: blur(32px);
    border-radius: 12px;
    display: block;
    transition: transform .125s ease-in-out;
}
.card-cont:hover {
    transform: scale(1.05);
}

.card-cont-inner {
    height: 100%;
    position: relative;
}

.date-publication {
    color: var(--Black32);
    font-size: 1.2rem;
}

.tag {
	background-color: transparent;
	border: 1.5px solid var(--Azure100);
	color: var(--Azure100);
	margin-bottom: .8rem;
}
.tag:not(:first-child) {
	margin-left: .8rem;
}
.tag:hover {
	background-color: var(--Azure100);
	color: var(--White100);
}
.tag::before {
	content: '#';
	color: var(--Azure100);
	display: inline-block;
	margin-right: .2rem;
	transition: all .175s ease-in-out;
}
.tag:hover::before {
	color: var(--White100);
}

.page-wrapper .news-card-header {
	font-size: 4rem;
	line-height: 4.4rem;
	width: 88%;
}

.vote-button:disabled {
	background: var(--Black3);
}

.article-paragraphs .image {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


/*   У Д А Л И Т Ь   П О Т О М   */
.breadcrumbs {
	display: none;
}

.article-paragraphs figcaption {
	margin-top: 0.8rem;
}


@media (min-width: 1460px) {
	.grid-main {
		grid-template-columns: repeat(32, calc((1460px - 49.6rem - 1.6rem) / 32));
	}

	.cont-wrapper-left {
		grid-template-columns: repeat(15, calc((1460px - 49.6rem - 1.6rem) / 32));
	}

	.cont-wrapper-left .block-cards-wrapper {
		grid-template-columns: repeat(14, calc((1460px - 49.6rem - 1.6rem) / 32));
	}

	.cont-wrapper-right {
		grid-template-columns: repeat(13, calc((1460px - 49.6rem - 1.6rem) / 32));
	}

	.cont-wrapper-right .block-cards-wrapper {
		grid-template-columns: repeat(12, calc((1460px - 49.6rem - 1.6rem) / 32));
	}
}


@media (max-width: 460px) {
	h2 {
		font-size: 3.2rem;
		line-height: 3.6rem;
		margin-bottom: 2rem;
	}

	.grid-main {
		grid-template-columns: repeat(6, calc((100vw - 6rem - 2.4rem) / 6));
		grid-column-gap: 1.2rem;
	}

	main {
		grid-column: 1/7;
		margin-top: 8rem;
	}

	.cont-wrapper-left,
	.cont-wrapper-right {
		grid-template-columns: repeat(6, calc((100vw - 6rem - 2.4rem) / 6));
		grid-column-gap: 1.2rem;
		grid-column: 1/7;
	}

	.cont-header-wrapper {
		writing-mode: lr-tb;
		grid-column: 1/7;
	}

	.cont-header {
		transform: none;
		position: relative;
		margin: 0 0 1.6rem 0;
		top: 0;
	}
	.cont-header>.link-underline-solid {
		border-bottom-width: 4px;
		border-left: none;
		margin: 0 0 0 1rem;
	}

	.cont-wrapper-left .block-cards-wrapper,
	.cont-wrapper-right .block-cards-wrapper {
		grid-column: 1/7;
		grid-template-columns: repeat(6, calc((100vw - 6rem - 2.4rem) / 6));
		grid-column-gap: 1.2rem;
	}

	.showmore-btn-wrapper {
		margin-left: 0;
		width: 100%;
	}
	.showmore-btn-wrapper button {
		width: 100%;
	}

	.page-aside-wrapper {
		grid-column: 1/7;
		margin-bottom: 2rem;
	}

	.page-content-superwrapper {
		grid-column: 1/7;
	}

	.page-wrapper {
		grid-column: 1/7;
	}

	.page-header {
		font-size: 3.2rem;
		line-height: 3.6rem;
	}

	.page-bottom-wrapper {
		margin-top: 8rem;
	}

	.article-paragraphs .image img {
		height: auto !important;
	}

}



@media (max-width: 360px) {
	h3 {
		font-size: 2.8rem;
		line-height: 3.2rem;
	}

	.page-header {
		font-size: 2.8rem;
		line-height: 3.2rem;
	}

	.article-paragraphs .image img {
		height: auto !important;
	}
}
